@import "fonts";

$gold: rgba(250,220,2,1);
$silver: rgba(217,217,217,1);
$bronze: rgba(243,111,33,1);

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}

.hepta-top {

	width: 300px;
	margin: auto;
	position: relative;
	text-align: center;
}

.hepta-athlete-name {
	display: inline-block;
	height: 72px;
	padding: 0 24px;
}

.hepta-viz-container {
	width: 100%;
	position: relative;
}

.hepta-button {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	background: #bdbdbd;
	cursor: pointer;

	box-sizing: border-box;

	&.hepta-button-left {
		top: 22px;
		left: 0;

		border-left: 3px solid #777;
	}

	&.hepta-button-right {
		top: 22px;
		right: 0;

		border-right: 3px solid #777;
	}
}

.hepta-svg {

	box-sizing: border-box;
	margin-left: 5%;
	width: 90%;
	height: 700px;

	& path, & line {
		vector-effect: non-scaling-stroke;
	}
}

.hepta-result {

	fill: #aad8f1;

	&.hepta-hl {
		stroke: #bdbdbd;
		stroke-width: 2px;
	}
}

.hepta-medal--gold {
	fill: $gold;
}

.hepta-medal--silver {
	fill: $silver;
}

.hepta-medal--bronze {
	fill: $bronze;
}

.hepta-hidden {
	display: none;
}

.hepta-line {
	fill: none;
	stroke: #bdbdbd;
	stroke-width: 2;
}

.hepta-illu {
	position: absolute;
	left: 5%;
}

.hepta-axis {
	stroke: #999;
	stroke-dasharray: 1,1;
}

.hepta-discipline-title {
	@include f-textSans;
	font-weight: 600;
}

.hepta-result-label {
	@include f-textSans;
}

.hepta-voronoi {
	fill-opacity: 0;
}