@import "fonts";

$gold: rgba(250,220,2,1);
$silver: rgba(217,217,217,1);
$bronze: rgba(243,111,33,1);

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}

.hepta-athlete-name {
	text-align: center;
}

.hepta-viz-container {
	width: 100%;
	position: relative;
}

.hepta-svg {

	box-sizing: border-box;
	padding-left: 0;
	width: 90%;
	height: 700px;

	& path, & line {
		vector-effect: non-scaling-stroke;
	}
}

.hepta-result {

	fill: #aad8f1;

	&.hepta-hl {
		stroke: #bdbdbd;
		stroke-width: 2px;
	}
}

.hepta-medal--gold {
	fill: $gold;
}

.hepta-medal--silver {
	fill: $silver;
}

.hepta-medal--bronze {
	fill: $bronze;
}

.hepta-hidden {
	display: none;
}

.hepta-line {
	fill: none;
	stroke: #bdbdbd;
	stroke-width: 2;
}

.hepta-illu {
	position: absolute;
	left: 0;
}

.hepta-axis {
	stroke: #bdbdbd;
}

.hepta-discipline-title {
	@include f-textSans;
	font-weight: 600;
}

.hepta-result-label {
	@include f-textSans;
}

.hepta-voronoi {
	fill-opacity: 0;
}