@import "fonts";
@import "mq";

$gold: rgba(250,220,2,1);
$silver: rgba(217,217,217,1);
$bronze: rgba(243,111,33,1);
$lightblue: #aad8f1;

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
    max-width: 1300px;
    margin: auto;

    &:after {
        display: block;
        content: '';
        clear: both;
    }
}


.hepta-table {
    cursor: pointer;
    float: left;
    width: 26%;
    margin: 34px 2% 20px 4%;
    @include fs-textSans(2);
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 1px;
    //only show this on desktop
    @include mq($until: desktop) {
        display: none;
    }
}

.hepta-header-row th {
    font-weight: 500;
    padding-bottom: 4px;
}

.hepta-table-medal {
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-bottom: -1px;
    border-radius: 6px;

    &.hepta-medal--gold {
        background-color: $gold;
    }

    &.hepta-medal--silver {
        background-color: $silver;
    }

    &.hepta-medal--bronze {
        background-color: $bronze;
    }
}

td {
    padding: 0 4px;
}

.hepta-td--rank {
    text-align: right;
    padding-right: 8px;
    background-color: white;
}

.hepta-select {
    display: block;
    @include fs-textSans(4);
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 8px;
    height: 40px;
    padding: 12px;

    border: none;

    background-color: rgba($lightblue, 0.4);

    &.hepta-select--gold {
        background-color: rgba($gold, 0.4);
    }

    &.hepta-select--silver {
        background-color: rgba($silver, 0.4);
    }

    &.hepta-select--bronze {
        background-color: rgba($bronze, 0.4);
    }

    //only show this on mobile & tablet
    @include mq($from: desktop) {
        display: none;
    }
}

.hepta-option {

    background-color: $lightblue;

    &.hepta-option--gold {
        background-color: $gold;
    }

    &.hepta-option--silver {
        background-color: $silver;
    }

    &.hepta-option--bronze {
        background-color: $bronze;
    }
}

.hepta-tr {

    height: 20px;
    max-height: 20px;
    opacity: 0.2;

    &.hepta-hl {
        opacity: 1;
    }
}


.hepta-td--athlete, .hepta-td--score {

    .hepta-hl & {
        background-color: rgba($lightblue, 0.4);
    }

    .hepta-tr--gold.hepta-hl & {
        background-color: rgba($gold, 0.4);
    }
    .hepta-tr--silver.hepta-hl & {
        background-color: rgba($silver, 0.4);
    }
    .hepta-tr--bronze.hepta-hl & {
        background-color: rgba($bronze, 0.4);
    }

}

.hepta-top {

    width: 300px;
    margin: auto;
    position: relative;
    text-align: center;
}

.hepta-athlete-name {
    display: inline-block;
    height: 72px;
    padding: 0 24px;
}

.hepta-viz-container {

    float: left;
    width: 68%;
    position: relative;

    @include mq($until: desktop) {
        width: 94%
    }
}

.hepta-button {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #bdbdbd;
    cursor: pointer;

    box-sizing: border-box;

    &.hepta-button-left {
        top: 22px;
        left: 0;

        border-left: 3px solid #777;
    }

    &.hepta-button-right {
        top: 22px;
        right: 0;

        border-right: 3px solid #777;
    }
}

.hepta-total-background {
    fill: #bdbdbd;
}

.hepta-svg {

    box-sizing: border-box;
    width: 100%;
    height: 735px;

    & path, & line {
        vector-effect: non-scaling-stroke;
    }
}

.hepta-legend {
    @include fs-textSans(2);
    fill: #bdbdbd;
}

.hepta-result {

    fill: #aad8f1;

    &.hepta-hl {
        // stroke: #333;
        // stroke-width: 1px;
        fill-opacity: 1;
    }

    fill-opacity: 0.75; 
}

.hepta-medal--gold {
    fill: $gold;
}

.hepta-medal--silver {
    fill: $silver;
}

.hepta-medal--bronze {
    fill: $bronze;
}

.hepta-hidden {
    display: none;
}

.hepta-line {
    fill: none;
    stroke: #eaeaea;
    stroke-width: 3px;
}

.hepta-illu {
    position: absolute;
}

.hepta-axis {
    stroke: #eaeaea;
    stroke-dasharray: 1,1;
}

.hepta-discipline-title {
    @include fs-textSans(2);
    font-weight: 500;
}

.hepta-result-label {
    @include f-textSans;
    font-size: 20px;
    fill: #767676;
}

.hepta-voronoi {
    fill-opacity: 0;
}